<template>
  <main>
    <div v-if="currentMap">
      <ChangeDimensionsModal
        :currentMap="currentMap"
        @close="toggleModal('showDimensionsChangeModal', 'dimensionsChangeModal')"
        @updateDimensions="updateDimensions($event)"/>

      <ChangeBackgroundModal
        :currentBackground="currentMap.background"
        @close="toggleModal('showBackgroundChangeModal', 'backgroundChangeModal')"
        @updateBackground="updateBackground($event)"/>

      <h4>{{ currentMap.name }}</h4>
      <p class="map--created">Created {{ currentMap.createdOn | formatDate }}</p>
      <p>
        Dimensions: {{ currentMap.ncols }} x {{ currentMap.nrows }}
        <a @click.prevent="toggleModal('showDimensionsChangeModal', 'dimensionsChangeModal')">Change</a>
      </p>
      <p>
        Background:
        <a @click.prevent="toggleModal('showBackgroundChangeModal', 'backgroundChangeModal')">
          <span v-if="currentMap.background">{{ currentMap.background.type }} ({{ currentMap.background.color }})</span>
          <span v-else>None</span>
        </a>
      </p>
      <canvas
          ref="canvas"
          :width="`${mapWidth}px`"
          :height="`${mapHeight}px`" />
    </div>
    <div v-else>
      Loading map...
    </div>
  </main>
</template>

<script>
import moment from 'moment';
import { mapState } from 'vuex';
import ChangeBackgroundModal from '@/components/ChangeBackgroundModal';
import ChangeDimensionsModal from '@/components/ChangeDimensionsModal';

const GRID_CELL_HEIGHT = 48;
const GRID_CELL_WIDTH  = 48;
const GRID_LINE_COLOR  = 'solid black';
const GRID_LINE_WIDTH  = 1;

export default {
  components: {
    ChangeBackgroundModal,
    ChangeDimensionsModal,
  },
  data () {
    return {
      dimensionsChangeModal: null,
      showDimensionsChangeModal: false,
      showBackgroundChangeModal: false,
    };
  },
  computed: {
    ...mapState(['currentMap', 'maps', 'userProfile']),
    context2d() {
      return this.$refs.canvas.getContext('2d');
    },
    mapHeight() {
      return this.currentMap.nrows * GRID_CELL_HEIGHT;
    },
    mapWidth() {
      return this.currentMap.ncols * GRID_CELL_WIDTH;
    }
  },
  methods: {
    clearCanvas() {
      this.context2d.clearRect(0, 0, this.mapWidth, this.mapHeight);
    },

    drawBackground() {
      const ctx = this.context2d;
      const bg_color = this.currentMap.background && this.currentMap.background.color;
      if ( ! bg_color ) {
        return;
      }
      ctx.beginPath();
      ctx.fillStyle = bg_color;
      // http://diveintohtml5.info/canvas.html
      // Under 'ASK PROFESSOR MARKUP' it explains why it needs to be
      // shifted 0.5
      ctx.fillRect(0, 0, this.mapWidth, this.mapHeight);
      ctx.closePath();
    },

    drawGrid() {
      // Draw vertical lines
      for (let x = GRID_CELL_WIDTH; x < this.mapWidth; x += GRID_CELL_WIDTH) {
        this.drawLine( [x, 0], [x, this.mapHeight] );
      }

      // Draw horizontal lines
      for (let y = GRID_CELL_HEIGHT; y < this.mapHeight; y += GRID_CELL_HEIGHT) {
        this.drawLine( [0, y], [this.mapWidth, y] );
      }
    },

    drawInCoordinates(e) {
      this.drawLine([this.mousepos.x, this.mousepos.y], [e.offsetX, e.offsetY])
      this.mousepos.x = e.offsetX;
      this.mousepos.y = e.offsetY;
    },

    drawLine([ p1_x, p1_y ], [ p2_x, p2_y ]) {
      const ctx = this.context2d;
      ctx.beginPath();
      ctx.strokeStyle = GRID_LINE_COLOR;
      ctx.lineWidth = GRID_LINE_WIDTH;
      // http://diveintohtml5.info/canvas.html
      // Under 'ASK PROFESSOR MARKUP' it explains why it needs to be
      // shifted 0.5
      ctx.moveTo(p1_x + 0.5, p1_y + 0.5);
      ctx.lineTo(p2_x + 0.5, p2_y + 0.5);
      ctx.stroke();
      ctx.closePath();
    },

    drawMap() {
      this.clearCanvas();
      this.drawBackground();
      this.drawGrid();

    },

    getMapStyles() {
      return {
        height: `${this.mapHeight + GRID_LINE_WIDTH*2}px`,
        width:  `${this.mapWidth + GRID_LINE_WIDTH*2}px`
      };
    },

    initializeModal(data_variable_name, selector) {
      if ( !this[data_variable_name] ) {
        /* global $, Foundation */
        this[data_variable_name] = new Foundation.Reveal($(selector));
      }
    },

    initializeModals() {
      const MODALS = [
        { data_variable_name: 'backgroundChangeModal', selector: '#change-background-modal' },
        { data_variable_name: 'dimensionsChangeModal', selector: '#change-dimensions-modal' },
      ];
      MODALS.forEach((modal) => {
        this.initializeModal(modal.data_variable_name, modal.selector);
      });
    },

    toggleModal(data_show_name, data_modal_name) {
      this[data_show_name] = !this[data_show_name];
      if ( this[data_show_name] ) {
        this[data_modal_name].open();
      } else {
        this[data_modal_name].close();
        $('html').removeClass('is-reveal-open')
          .removeClass('zf-has-scroll');
      }
    },

    updateBackground(background) {
      this.$store.commit('setBackground', background);
      this.toggleModal('showBackgroundChangeModal', 'backgroundChangeModal')
      this.$store.dispatch('updateMap', this.currentMap);
    },

    updateDimensions(dimensions) {
      this.$store.commit('setDimensions', dimensions);
      this.toggleModal('showDimensionsChangeModal', 'dimensionsChangeModal')
      this.$store.dispatch('updateMap', this.currentMap);
    },
  },

  filters: {
    formatDate(val) {
      if (!val) {
        return '-';
      }

      const date = val.toDate();
      return moment(date).fromNow();
    }
  },

  mounted() {
    const map_id = this.$route.params.map_id;
    if ( !map_id ) {
      alert('No map selected')
      return;
    }
    if (!this.maps) {
      return;
    }
    this.$store.dispatch('setCurrentMapFromId', map_id);

    // This is needed for the hot-reload to draw the canvas
    if (this.currentMap && this.$refs.canvas) {
      this.drawMap();
      this.initializeModals();
    }
  },

  updated () {
    if (this.currentMap && this.$refs.canvas) {
      this.drawMap();
      this.initializeModals();
    }
  },

watch: {
    currentMap(newValue, oldValue) {
      const that = this;
      if ( !oldValue && newValue && this.$refs.canvas ) {
        that.drawMap();
      }
    },
    maps(newValue, oldValue) {
      if ( !oldValue.length && newValue.length ) {
        // We got the maps from firebase a bit late
        const map_id = this.$route.params.map_id;
        this.$store.dispatch('setCurrentMapFromId', map_id);
      }
    }
  }
};
</script>

<style lang="scss" scoped>
main {
  margin: 2rem 4rem;
}

canvas {
  border: 1px solid black;
  border-radius: 2px;
}
</style>
