<template>
  <main class="main">
    <section>
      <div class="card view-map">
        <div class="card-header">
          <h4>View a map</h4>
        </div>
        <div class="card-section">
          <div class="grid-container">
            <div class="grid-x grid-padding-x">
              <div class="medium-12 cell">
                <label>Map code
                  <input v-model="map_code" type="text" name="map_code" id="map_code" required placeholder="yGkJ6kSSUuh7Jcl9Tdvr">
                </label>
              </div>
            </div>
            <button class="button" :disabled="map_code.length === 0" @click="openMap()">View map</button>
          </div>
        </div>
      </div>
    </section>

    <hr class="section-divider">

    <section>
      <div class="card create-map">
        <div class="card-header">
          <h4>Create a new map</h4>
        </div>

        <div class="card-section">
          <form @submit.prevent>
            <div class="grid-container">
              <div class="grid-x grid-padding-x">
                <div class="medium-12 cell">
                  <label>Name
                    <input v-model="map.name" type="text" name="name" id="name" required placeholder="Awesome Map">
                  </label>
                </div>
                <div class="medium-6 cell">
                  <label>Columns
                    <input v-model="map.ncols" type="number" name="ncols" id="ncols" :min="MIN_NCOLS" :max="MAX_NCOLS" step="1">
                  </label>
                </div>
                <div class="medium-6 cell">
                  <label>Rows
                    <input v-model="map.nrows" type="number" name="nrows" id="nrows" :min="MIN_NROWS" :max="MAX_NROWS" step="1">
                  </label>
                </div>
              </div>

              <button class="success button" 
              :disabled="map.name.length === 0 || map.ncols < MIN_NCOLS || map.ncols > MAX_NCOLS || map.nrows < MIN_NROWS || map.nrows > MAX_NROWS" @click="createMap()">Create a map</button>
            </div>
          </form>
        </div>
      </div>
    </section>

    <hr class="section-divider">

    <section>
      <h4>Your maps</h4>
      <div class="map-list" v-if="maps.length">
        <MapCard  v-for="aMap in maps" :key="aMap.id" :map="aMap"/>
      </div>
      <div v-else>
        <p class="no-maps">You haven't created any maps</p>
      </div>
    </section>
  </main>
</template>

<script>
import { mapState } from 'vuex';
import MapCard from '@/components/MapCard';

export default {
  components: {
    MapCard
  },
  data() {
    return {
      MIN_NCOLS: 2,
      MIN_NROWS: 2,
      MAX_NCOLS: 64,
      MAX_NROWS: 64,
      map_code: '',
      map: {
        name: '',
        ncols: 8,
        nrows: 8
      }
    };
  },
  computed: {
    ...mapState(['maps', 'userProfile'])
  },
  methods: {
    createMap() {
      this.$store.dispatch('createMap', {
        name: this.map.name,
        nrows: this.map.nrows,
        ncols: this.map.ncols
      });
    },
    openMap() {
      this.$router.push({
        name: 'BattleMap',
        params: { map_id: this.map_code }
      });
    }
  }
};
</script>

<style scoped>
.main {
  padding: 1rem 8rem;
}

.section-divider {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 60%;
}

.create-map,
.view-map {
  margin: 1rem auto;
}
.create-map .card-header h4,
.view-map .card-header h4 {
  margin: 1rem 2rem;
}
.map-list {
  margin: 2rem auto;
  display: flex;
}
</style>
