<template>
  <div class="reveal" id="change-dimensions-modal" data-reveal>
    <div class="modal-content">
      <button class="close-button" aria-label="Close alert" type="button" data-close @click="$emit('close')">
        <span aria-hidden="true">&times;</span>
      </button>
      <h3>Change map size</h3>
      <form @submit.prevent>
        <div class="grid-x grid-padding-x">
          <div class="medium-6 cell">
            <label>Columns
              <input v-model="ncols" type="number" name="ncols" id="ncols" :min="MIN_NCOLS" :max="MAX_NCOLS" step="1">
            </label>
          </div>
          <div class="medium-6 cell">
            <label>Rows
              <input v-model="nrows" type="number" name="nrows" id="nrows" :min="MIN_NROWS" :max="MAX_NROWS" step="1">
            </label>
          </div>
        </div>

        <button class="success button" :disabled="ncols < MIN_NCOLS || ncols > MAX_NCOLS || nrows < MIN_NROWS || nrows > MAX_NROWS" @click="updateDimensions()">Update Dimensions</button>
      </form>
      <p class="callout alert">Content in your map may be lost if it's outside the new map area</p>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    currentMap: {
      ncols: Number,
      nrows: Number
    }
  },
  data() {
    return {
      MIN_NCOLS: 2,
      MIN_NROWS: 2,
      MAX_NCOLS: 64,
      MAX_NROWS: 64,
      ncols: this.currentMap.ncols,
      nrows: this.currentMap.nrows
    };
  },
  methods: {
    updateDimensions () {
      this.$emit('updateDimensions', {
        ncols: this.ncols,
        nrows: this.nrows
      });
    }
  }
};
</script>

<style scoped>
.medium-6.cell:first-child {
  padding-left: 0;
}

.medium-6.cell:last-child {
  padding-right: 0;
}
</style>