<template>
  <div class="reveal" id="change-background-modal" data-reveal>
    <div class="modal-content">
      <button class="close-button" aria-label="Close alert" type="button" data-close @click="$emit('close')">
        <span aria-hidden="true">&times;</span>
      </button>
      <h3>Change background</h3>
      <form @submit.prevent>
        <div class="grid-x grid-padding-x">
          <div class="medium-10 cell">
            <label>
              Background type
              <select name="background_type" id="background_type" v-model="background.type">
                <option
                  v-for="background_type in available_types"
                  :value="background_type.value"
                  :key="background_type.value" >
                  {{ background_type.name }}
                </option>
              </select>
            </label>
          </div>
        </div>
        <div v-if="background.type === 'FLAT'">
          <div class="grid-x grid-padding-x">
            <div class="medium-10 cell">
              <label>Color
                <input v-model="background.color" type="text" name="background_color" id="background_color" required>
              </label>
            </div>
            <div class="medium-2 cell">
              <div class="color-display" :style="colorDisplayStyles()">
              </div>
            </div>
          </div>
          <p v-if="background.color && !isValidColor(background.color)" class="callout alert">This is not a valid color</p>
        </div>
        <button class="success button" @click="updateBackground()">Update Background</button>
      </form>
    </div>
  </div>
</template>

<script>

const BACKGROUND_COLOR_WHITE = '#ffffff';
const DEFAULT_BACKGROUND_COLOR = BACKGROUND_COLOR_WHITE;
const AVAILABLE_COLOR_NAMES = {
  'black': true,
  'silver': true,
  'gray': true,
  'white': true,
  'maroon': true,
  'red': true,
  'purple': true,
  'fuchsia': true,
  'green': true,
  'lime': true,
  'olive': true,
  'yellow': true,
  'navy': true,
  'blue': true,
  'teal': true,
  'aqua': true,
  'orange': true,
  'aliceblue': true,
  'antiquewhite': true,
  'aquamarine': true,
  'azure': true,
  'beige': true,
  'bisque': true,
  'blanchedalmond': true,
  'blueviolet': true,
  'brown': true,
  'burlywood': true,
  'cadetblue': true,
  'chartreuse': true,
  'chocolate': true,
  'coral': true,
  'cornflowerblue': true,
  'cornsilk': true,
  'crimson': true,
  'cyan': true,
  'darkblue': true,
  'darkcyan': true,
  'darkgoldenrod': true,
  'darkgray': true,
  'darkgreen': true,
  'darkgrey': true,
  'darkkhaki': true,
  'darkmagenta': true,
  'darkolivegreen': true,
  'darkorange': true,
  'darkorchid': true,
  'darkred': true,
  'darksalmon': true,
  'darkseagreen': true,
  'darkslateblue': true,
  'darkslategray': true,
  'darkslategrey': true,
  'darkturquoise': true,
  'darkviolet': true,
  'deeppink': true,
  'deepskyblue': true,
  'dimgray': true,
  'dimgrey': true,
  'dodgerblue': true,
  'firebrick': true,
  'floralwhite': true,
  'forestgreen': true,
  'gainsboro': true,
  'ghostwhite': true,
  'gold': true,
  'goldenrod': true,
  'greenyellow': true,
  'grey': true,
  'honeydew': true,
  'hotpink': true,
  'indianred': true,
  'indigo': true,
  'ivory': true,
  'khaki': true,
  'lavender': true,
  'lavenderblush': true,
  'lawngreen': true,
  'lemonchiffon': true,
  'lightblue': true,
  'lightcoral': true,
  'lightcyan': true,
  'lightgoldenrodyellow': true,
  'lightgray': true,
  'lightgreen': true,
  'lightgrey': true,
  'lightpink': true,
  'lightsalmon': true,
  'lightseagreen': true,
  'lightskyblue': true,
  'lightslategray': true,
  'lightslategrey': true,
  'lightsteelblue': true,
  'lightyellow': true,
  'limegreen': true,
  'linen': true,
  'magenta': true,
  'mediumaquamarine': true,
  'mediumblue': true,
  'mediumorchid': true,
  'mediumpurple': true,
  'mediumseagreen': true,
  'mediumslateblue': true,
  'mediumspringgreen': true,
  'mediumturquoise': true,
  'mediumvioletred': true,
  'midnightblue': true,
  'mintcream': true,
  'mistyrose': true,
  'moccasin': true,
  'navajowhite': true,
  'oldlace': true,
  'olivedrab': true,
  'orangered': true,
  'orchid': true,
  'palegoldenrod': true,
  'palegreen': true,
  'paleturquoise': true,
  'palevioletred': true,
  'papayawhip': true,
  'peachpuff': true,
  'peru': true,
  'pink': true,
  'plum': true,
  'powderblue': true,
  'rosybrown': true,
  'royalblue': true,
  'saddlebrown': true,
  'salmon': true,
  'sandybrown': true,
  'seagreen': true,
  'seashell': true,
  'sienna': true,
  'skyblue': true,
  'slateblue': true,
  'slategray': true,
  'slategrey': true,
  'snow': true,
  'springgreen': true,
  'steelblue': true,
  'tan': true,
  'thistle': true,
  'tomato': true,
  'turquoise': true,
  'violet': true,
  'wheat': true,
  'whitesmoke': true,
  'yellowgreen': true,
  'rebeccapurple': true,
}

const BACKGROUND_TYPE_NONE = 'NONE';
const BACKGROUND_TYPE_FLAT = 'FLAT';
const BACKGROUND_TYPES = [
  { value: BACKGROUND_TYPE_NONE, name: 'None' },
  { value: BACKGROUND_TYPE_FLAT, name: 'Flat color' },
];

export default {
  props: {
    currentBackground: {
      type: Object,
      default() {
        return {
          type: BACKGROUND_TYPE_NONE
        };
      }
    }
  },
  data() {
    const background = {};
    if ( this.currentBackground ) {
      background.type = this.currentBackground.type;
      if ( background.type === BACKGROUND_TYPE_FLAT ) {
        background.color = this.currentBackground.color;
      } else {
        background.color = null;
      }
    }
    return {
      background,
      available_types: [ ...BACKGROUND_TYPES ],
    };
  },
  methods: {
    colorDisplayCssColor () {
      const color = this.background.color;
      if ( !this.isValidColor(color) ) {
        return DEFAULT_BACKGROUND_COLOR;
      }

      return color
    },

    colorDisplayStyles () {
      const css_color = this.colorDisplayCssColor();
      return {
        'background-color': css_color
      };
    },

    isValidColor (color) {
      const color_safe = color || '';
      if ( AVAILABLE_COLOR_NAMES[color_safe] ) {
        return true;
      }

      const regex = new RegExp('^#(?:[a-f0-9]{3})|(?:[a-f0-9]{6})$', 'i');
      return regex.test(color_safe);
    },
    updateBackground () {
      if ( this.background.type === BACKGROUND_TYPE_NONE ) {
        return this.$emit('updateBackground', null);
      } else if ( this.background.type === BACKGROUND_TYPE_FLAT ) {
        return this.$emit('updateBackground', {
          type: this.background.type,
          color: this.background.color,
        });
      }
      this.$emit('updateBackground', this.background);
    }
  }
};
</script>

<style scoped>
.color-display {
  border: 1px solid black;
  height: 100%;
  width: 100%;
}
</style>