<template>
  <div class="map card">
    <div class="card-divider"><h5>{{ map.name }}</h5></div>
    <div class="card-section">
      <p class="map--created">Created {{ map.createdOn | formatDate }}</p>
      <p>Dimensions: {{ map.ncols }} x {{ map.nrows }}</p>
      <a :href="buildMapURL(map.id)" class="button">Open</a>
    </div>
  </div>
</template>

<script>
import moment from 'moment';

export default {
  props: {
    map: {
      id: Number,
      name: String,
      ncols: Number,
      nrows: Number
    }
  },
  filters: {
    formatDate(val) {
      if (!val) {
        return '-';
      }

      const date = val.toDate();
      return moment(date).fromNow();
    }
  },
  methods: {
    buildMapURL(map_id) {
      return `/battle_map/${map_id}`;
    }
  }
}
</script>

<style scoped>
.map {
  flex-grow: 0;
  margin-left: 1rem;
}
.map:first-child {
  margin-left: 0;
}

.map .map--created {
  color: grey;
  font-size: .8em;
}
</style>
