<template>
  <div class="reveal" id="password-reset-modal" data-reveal>
    <div class="modal-content">
      <button class="close-button" aria-label="Close alert" type="button" data-close @click="$emit('close')">
        <span aria-hidden="true">&times;</span>
      </button>

      <!-- <div class="close">
        <a @click="$emit('close')">X</a>
      </div> -->
      <h3>Reset Password</h3>
      <div v-if="!showSuccess">
        <p>Enter your email to reset your password</p>
        <form @submit.prevent>
          <input v-model.trim="email" type="email" name="email" id="email" >
        </form>
        <p v-if="errorMsg !== ''" class="error">{{ errorMsg }}</p>
        <button @click="resetPassword()" class="button">Reset</button>
      </div>
      <p v-else>Success! Check your email for a reset link.</p>
    </div>
  </div>
</template>

<script>
import { auth } from '@/firebase'

export default {
  data() {
    return {
      email: '',
      errorMsg: '',
      showSuccess: false
    };
  },
  methods: {
    async resetPassword() {
      this.errorMsg = '';

      try {
        await auth.sendPasswordResetEmail(this.email);
        this.showSuccess = true;
      } catch (err) {
        this.errorMsg = err.message;
      }
    }
  }
};
</script>

<style scoped>
/* .modal-content .close {
  text-align: right;
}
.modal-content .close a {
  color: inherit;
} */
</style>